body{
    display: grid;
    grid-template-areas: 
        "header header"
        "aside main"
        "footer footer";
    grid-template-columns: 100px auto;
    gap: 10px;
}

header{
    grid-area: header;
    border-radius: 3px;
    background-color: rgb(181, 216, 255);
    padding: 5px 10px;
}

aside {
    grid-area: aside;
    border-radius: 3px;
    background-color: rgb(181, 216, 255);
    padding: 5px 10px;
}

main {
    grid-area: main;
    border-radius: 3px;
    background-color: rgb(181, 216, 255);
    padding: 5px 10px;
}

footer {
    grid-area: footer;
    border-radius: 3px;
    background-color: rgb(181, 216, 255);
    padding: 5px 10px;
}

header h1{
    display: inline-block;
    vertical-align: middle;
}

aside ul {
    list-style-type: none;
    margin: 0px;
    padding: 5px;
}

aside a {
    display: block;
    padding: 5px 0px;
    color: rgb(86, 40, 129);
    text-decoration: none;
}

nav {
    display: inline-block;
    vertical-align: middle;
    margin-top: 8px;
}

.list li{
    display: inline;
    list-style: none;
    align-items: center;
}

.list a {
    padding: 5px 15px;
    color: rgb(53, 100, 153);
    text-decoration: none;
}

@media (max-width: 500px){
    body {
        display: grid;
        grid-template-areas: 
        "header header"
        "aside aside"
        "main main"
        "footer footer";
    }
}

@media (max-width: 500px){
    .list a {
        display: block;
        padding-left: 5px;
        color: rgb(53, 100, 153);
        text-decoration: none;
    }
    
    header h1{
        display: block;
    }

    .list {
        margin: 0;
        padding: 0;
    }
}