html{
    font-family: Helvetica, sans-serif;
}

body{
    margin: 40px;
}

nav{
    border-bottom: 2px solid black;
    display: inline-block;
}

nav ul{
    margin-left: 0;
}

nav ul li{
    display: inline-block;
    margin: 20px;
}

nav a{
    text-decoration: none;
    color: green;
    display: inline-block;
}