@font-face {
    font-family: Raleway;
    src: url(./Fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: Great Vibes;
    src: url(./Fonts/Great_Vibes/GreatVibes-Regular.ttf);
}

html{
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1,h2{
    font-family: Great Vibes, cursive;
    line-height: 1.2;
    font-weight: bold;
}

.first{
    list-style-type: square;
}

.second{
    list-style-type: disc;
}

.third{
    list-style-type: circle;
}